
/* activity 3 css */

/* .container{

    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100%;
    
}



.card{
    background-color: black;
    height: 500px;
    width: 400px;
    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;
    padding: 3em;

}


h1{
    text-align: center;
    color: #e7e0e0;
    margin: 0 0 1.5em;
    text-decoration: underline;
  
}

.rotate {
    background-color: rgb(54, 115, 169);
    height: 300px;
    width: 200px;
    display: block;
    animation: rotating 4s linear infinite;

}

@keyframes rotating{
    0%{
        transform: rotate(0deg);
    }

    0%{
        transform: rotate(360deg);
    }
} */


/* ----------------project 2------------------- */
/* 
.container{
    max-width: 800px;
    margin: 10px auto;
    

}

.heading{
    text-align: center;
    font-family: 'Stylish', sans-serif;
    font-size: 40px;
    margin-bottom: 1em;

}

.hotelCards{
    width: 100%;
    margin: 20px;
    border: #000000 solid ;
    margin: 1em;
}

.hotelCards img{
    width: 100%;
    object-fit: contain;
}

.title{
    margin: 3em 0;
    font-size: 28px;
    text-align: center;
    font-family: 'Stylish', sans-serif;
    color: #860000;
    text-decoration: underline;



}



.hotelCards p{
    font-size: 15px;
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
    padding: 10px;
}

.btn{
    margin-bottom: 5px;
    padding: 20px;

}

button{
    padding: 5px 40px;
    border: 1px solid palevioletred;
    font-size: 18px;
    border: none;
    background-color: #000000;
    color: #ffffff;
    transition: 0.4s all ease;
    margin-bottom: 5px;

}


button:hover{
    background-color: #ba0000;
} */



a{
    text-decoration: none;
}

.logo{
    width: 80px;
    margin: 0 20px;
}

.carousel-item img{
    height: 650px;
    object-fit: cover;
}

.card-img-top{
    height: 200px;
}

.about{
    height: 600px;
    width: 700px;
}

.active_styles{
    border-bottom: 2px solid black;
}